    table {
        width: 100%;

    }

    table,
    th,
    td {

        border: 1px solid black;
        border-collapse: collapse;

    }

    .container {
        border: 2px solid black;
        font-family: Verdana, sans-serif;
    }

    #fruits {
        list-style-type: square;
    }

    #Players {
        list-style-type: circle;
    }

    #Topics {
        list-style-type: upper-roman;
    }

    #Employees {
        list-style-type: lower-alpha;
    }